<!-- slider-area start -->
<div id="slider" class="slider-area home">
  <div class="slider-wrap">
    <div class="bend niceties">
      <div id="ensign-nivoslider" class="slides">
        <img src="img/slider/bg-1.jpg" alt="" title="#slider-direction-1"/>
        <img src="img/slider/bg-2.jpg" alt="" title="#slider-direction-2"/>
        <img src="img/slider/bg-3.jpg" alt="" title="#slider-direction-3"/>
      </div>
      <!-- slider-direction-1 -->
      <div id="slider-direction-1" class="slider-direction slide-1">
        <!-- layer-1 -->
        <div class="layer-1-1">
          <h1 class="title1">new food for your pet</h1>
          <h1 class="big-title">natural</h1>
        </div>
        <!-- layer-2 -->
        <div class="layer-1-2">
          <h1 class="title2">%<span>20</span>&nbsp;0ff</h1>
        </div>
        <!-- layer-3 -->
        <div class="layer-1-3">
          <img src="img/slider/product-1.png" alt="" />
        </div>
        <!-- layer-4 -->
        <div class="layer-1-4">
          <img src="img/slider/product-2.png" alt="" />
        </div>
        <!-- layer-5 -->
        <div class="layer-1-5">
          <img src="img/slider/product-3.png" alt="" />
        </div>
        <!-- layer-6 -->
        <div class="layer-1-6">
          <h1 class="title3"><small>Fr</small>&nbsp;$<span>36</span>.99</h1>
        </div>
      </div>
      <!-- slider-direction-2 -->
      <div id="slider-direction-2" class="slider-direction slide-2">
        <!-- layer-1 -->
        <div class="layer-2-1">
          <h1 class="title1">your dog</h1>
        </div>
        <!-- layer-2 -->
        <div class="layer-2-2">
          <h1 class="title2">deserves the best</h1>
        </div>
        <!-- layer-3 -->
        <div class="layer-2-3">
          <p>We know your concerns when you are looking<br/>for a chewing treat for your dog.</p>
        </div>
        <!-- layer-4 -->
        <div class="layer-2-4">
          <h1 class="title3">$<span>36</span>.99</h1>
        </div>
        <!-- layer-5 -->
        <div class="layer-2-5">
          <img src="img/slider/slide-2.png" alt="" />
        </div>
      </div>
      <!-- slider-direction-3 -->
      <div id="slider-direction-3" class="slider-direction slide-3">
        <!-- layer-1 -->
        <div class="layer-3-1">
          <h1 class="title1">health</h1>
        </div>
        <!-- layer-2 -->
        <div class="layer-3-2">
          <h1 class="title2">nutrition</h1>
        </div>
        <!-- layer-3 -->
        <div class="layer-3-3">
          <h2 class="title3">for dogs and cats</h2>
        </div>
        <!-- layer-4 -->
        <div class="layer-3-4">
          <h1 class="title4"><small>Save up To </small>%<span>30</span>.off</h1>
        </div>
        <!-- layer 5 -->
        <div class="layer-3-5">
          <img src="img/slider/slide-3.png" alt="" />
        </div>
      </div>
    </div>
  </div><!-- /.slider-wrap -->
</div>
<!-- slider-area end -->
<!-- our-story-area start -->
<div class="our-story-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="our-story-left fix">
          <div class="our-story-heading">
            <h2>our story</h2>
            <h1>food factory</h1>
            <h6>From 1989 to 2015 and now</h6>
          </div>
          <p class="our-story-desc">Vestibulum quis porttitor dui! Quisque viverra nunc mi,
          a pulvinar purus condim entum a. Aliquam condimentum mattis neque sed pretium.
          Vestibulum quis porst itor duiest Quisque viverra nunc mi, a pulvinar purus
          condimentum...</p>
          <a href="about-us.html" class="read-more">read more</a>
        </div><!-- /.our-story-left -->
        <div class="our-story-right fix">
          <div class="our-story-img">
            <a href="#">
              <img src="img/our-story/about.png" alt="" />
            </a>
          </div>
        </div><!-- /.our-story-right -->
      </div>
    </div>
  </div>
</div>
<!-- our-story-area end -->
<!-- our-products-area start -->
<div id="products" class="our-products-area text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h1 class="section-title">food</h1>
          <h2 class="section-subtitle">our products</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="products-carousel" class="all-products">
        <div class="col-md-3">
          <div class="single-product">
            <div class="product-img">
              <a href="product-details.html">
                <img src="img/products/7.jpg" class="primary-img" alt="Product Image" />
                <img src="img/products/9.jpg" class="secondary-img" alt="Product Image" />
              </a>
              <div class="product-overlay"></div>
              <a class="quick-view modal-view" href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-search"></i></a>
            </div>
            <div class="product-info">
              <h3 class="product-name"><a href="product-details.html">Dog food produts</a></h3>
              <div class="product-price">
                <span class="special-price">$<span>35</span>.99</span>
                <span class="old-price">$<span>40</span>.99</span>
              </div>
              <div class="cart-btn-container">
                <a href="#" class="cart-btn">add to cart</a>
              </div>
            </div>
          </div><!-- /.single-product -->
        </div>
        <div class="col-md-3">
          <div class="single-product">
            <div class="product-img">
              <a href="product-details.html">
                <img src="img/products/3.jpg" class="primary-img" alt="Product Image" />
                <img src="img/products/2.jpg" class="secondary-img" alt="Product Image" />
              </a>
              <div class="product-overlay"></div>
              <span class="tag sale">sale</span>
              <a class="quick-view modal-view" href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-search"></i></a>
            </div>
            <div class="product-info">
              <h3 class="product-name"><a href="product-details.html">Dog food produts</a></h3>
              <div class="product-price">
                <span class="special-price">$<span>35</span>.99</span>
                <span class="old-price">$<span>40</span>.99</span>
              </div>
              <div class="cart-btn-container">
                <a href="#" class="cart-btn">add to cart</a>
              </div>
            </div>
          </div><!-- /.single-product -->
        </div>
        <div class="col-md-3">
          <div class="single-product">
            <div class="product-img">
              <a href="product-details.html">
                <img src="img/products/6.jpg" class="primary-img" alt="Product Image" />
                <img src="img/products/12.jpg" class="secondary-img" alt="Product Image" />
              </a>
              <div class="product-overlay"></div>
              <a class="quick-view modal-view" href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-search"></i></a>
            </div>
            <div class="product-info">
              <h3 class="product-name"><a href="product-details.html">Dog food produts</a></h3>
              <div class="product-price">
                <span class="regular-price">$<span>30</span>.99</span>
              </div>
              <div class="cart-btn-container">
                <a href="#" class="cart-btn">add to cart</a>
              </div>
            </div>
          </div><!-- /.single-product -->
        </div>
        <div class="col-md-3">
          <div class="single-product">
            <div class="product-img">
              <a href="product-details.html">
                <img src="img/products/8.jpg" class="primary-img" alt="Product Image" />
                <img src="img/products/1.jpg" class="secondary-img" alt="Product Image" />
              </a>
              <div class="product-overlay"></div>
              <span class="tag hot">hot</span>
              <a class="quick-view modal-view" href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-search"></i></a>
            </div>
            <div class="product-info">
              <h3 class="product-name"><a href="product-details.html">Dog food produts</a></h3>
              <div class="product-price">
                <span class="special-price">$<span>22</span>.99</span>
                <span class="old-price">$<span>30</span>.99</span>
              </div>
              <div class="cart-btn-container">
                <a href="#" class="cart-btn">add to cart</a>
              </div>
            </div>
          </div><!-- /.single-product -->
        </div>
        <div class="col-md-3">
          <div class="single-product">
            <div class="product-img">
              <a href="product-details.html">
                <img src="img/products/5.jpg" class="primary-img" alt="Product Image" />
                <img src="img/products/4.jpg" class="secondary-img" alt="Product Image" />
              </a>
              <div class="product-overlay"></div>
              <a class="quick-view modal-view" href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-search"></i></a>
            </div>
            <div class="product-info">
              <h3 class="product-name"><a href="product-details.html">Dog food produts</a></h3>
              <div class="product-price">
                <span class="special-price">$<span>35</span>.99</span>
                <span class="old-price">$<span>40</span>.99</span>
              </div>
              <div class="cart-btn-container">
                <a href="#" class="cart-btn">add to cart</a>
              </div>
            </div>
          </div><!-- /.single-product -->
        </div>
        <div class="col-md-3">
          <div class="single-product">
            <div class="product-img">
              <a href="product-details.html">
                <img src="img/products/12.jpg" class="primary-img" alt="Product Image" />
                <img src="img/products/6.jpg" class="secondary-img" alt="Product Image" />
              </a>
              <div class="product-overlay"></div>
              <a class="quick-view modal-view" href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-search"></i></a>
            </div>
            <div class="product-info">
              <h3 class="product-name"><a href="product-details.html">Dog food produts</a></h3>
              <div class="product-price">
                <span class="special-price">$<span>35</span>.99</span>
                <span class="old-price">$<span>40</span>.99</span>
              </div>
              <div class="cart-btn-container">
                <a href="#" class="cart-btn">add to cart</a>
              </div>
            </div>
          </div><!-- /.single-product -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- our-products-area end -->
<!-- testimonial-area start -->
<div id="testimonial" class="testimonial-area">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="testimonial-img">
          <img src="img/testimonial/image.png" alt="" />
        </div>
      </div>
      <div class="col-md-7">
        <div id="testimonial-carousel" class="testimonial-container">
          <div class="single-testimonial">
            <p class="testimonial-text">Destibulum quis porttitor dui! Quisque viverra nunc mi,
            a pulvinar purus cond ime ntum a. Ali-quam condimentum mattis neque sed pretium.</p>
            <div class="testimonial-author">
              <div class="author-img">
                <img class="img-circle" src="img/testimonial/author.png" alt="Author Image" />
              </div>
              <div class="author-info">
                <h5 class="author-name">michael</h5>
                <span class="author-designation">CEO - DevItems LLC</span>
              </div>
            </div>
          </div><!-- /.single-testimonial -->
          <div class="single-testimonial">
            <p class="testimonial-text">Destibulum quis porttitor dui! Quisque viverra nunc mi,
            a pulvinar purus cond ime ntum a. Ali-quam condimentum mattis neque sed pretium.</p>
            <div class="testimonial-author">
              <div class="author-img">
                <img class="img-circle" src="img/testimonial/author.png" alt="Author Image" />
              </div>
              <div class="author-info">
                <h5 class="author-name">don</h5>
                <span class="author-designation">CFO - DevItems LLC</span>
              </div>
            </div>
          </div><!-- /.single-testimonial -->
          <div class="single-testimonial">
            <p class="testimonial-text">Destibulum quis porttitor dui! Quisque viverra nunc mi,
            a pulvinar purus cond ime ntum a. Ali-quam condimentum mattis neque sed pretium.</p>
            <div class="testimonial-author">
              <div class="author-img">
                <img class="img-circle" src="img/testimonial/author.png" alt="Author Image" />
              </div>
              <div class="author-info">
                <h5 class="author-name">Salim rana</h5>
                <span class="author-designation">Lead Designer - BootExperts</span>
              </div>
            </div>
          </div><!-- /.single-testimonial -->
        </div><!-- /.testimonial-container -->
      </div>
    </div>
  </div>
</div>
<!-- testimonial-area end -->
<!-- banner-area start -->
<div id="banner" class="banner-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="banner-wrapper">
          <div class="special-offer-area">
            <div class="banner-text">
              <h2>Save Up To <span>30</span>% Off In This Week</h2>
              <p>Destibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar
              pus rus cond ime ntum a. Aliquam condimentum mattis neque sed pret ium.
              Destibu lum quis porttitor duie!</p>
              <div class="offer-amount">
                <p class="from-price"><small>From</small> $<span>30</span>.99</p>
                <p class="to-price"><small>To</small> $<span>60</span>.99</p>
              </div>
            </div>
          </div><!-- /.special-offer-area -->
          <div class="video-area">
            <div class="video-container">
              <video id="videobg" height="334" loop>
                <source src="video/video.MP4" type="video/mp4">
              </video>
              <a class="video-btn"><i class="fa fa-play"></i></a>
            </div>
          </div><!-- /.video-area -->
        </div><!-- /.banner-wrapper -->
      </div>
    </div>
  </div>
</div>
<!-- banner-area end -->
<!-- blog-posts-area start -->
<div id="blog-posts" class="blog-posts-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h1 class="section-title">blog</h1>
          <h2 class="section-subtitle">latest post</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="posts-container fix">
        <div class="col-md-6 col-xs-12">
          <div class="single-post">
            <div class="post-img">
              <a href="#"><img src="img/posts/post-1.jpg" alt="Post Image" /></a>
              <div class="post-date">
                <h5><small>Nov.</small> 26</h5>
              </div>
            </div>
            <div class="post-info">
              <h3 class="post-title"><a href="#">Distractions Happen</a></h3>
              <p>If you're a student of dog training, you're probably well aware of the
              oft suggested protocol of teaching...</p>
              <a href="#" class="read-more">read more</a>
            </div>
          </div><!-- /.single-post -->
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="single-post">
            <div class="post-img">
              <a href="#"><img src="img/posts/post-2.jpg" alt="Post Image" /></a>
              <div class="post-date">
                <h5><small>Dec.</small> 20</h5>
              </div>
            </div>
            <div class="post-info">
              <h3 class="post-title"><a href="#">My Dog, The Adrenalin</a></h3>
              <p>We've all met people who can't relax. People who have to be active, who need to be doing something...</p>
              <a href="#" class="read-more">read more</a>
            </div>
          </div><!-- /.single-post -->
        </div>
      </div><!-- /.posts-container -->
    </div>
  </div>
</div>
<!-- blog-posts-area end -->
<!-- product-quickview start -->
<div id="quickview-wrapper">
  <!-- Modal start -->
  <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="modal-product">
            <div class="product-images">
              <div class="main-image images">
                <img alt="" src="img/products/big/big-10.jpg">
              </div>
            </div><!-- .product-images -->

            <div class="product-info">
              <h1>Dog Food Products</h1>
              <div class="price-box">
                <div class="product-price">
                  <span class="special-price">$<span>35</span>.99</span>
                  <span class="old-price">$<span>40</span>.99</span>
                </div>
              </div>
              <a href="shop.html" class="see-all">See all features</a>
              <div class="quick-add-to-cart">
                <form method="post" class="cart">
                  <div class="quantity-area">
                    <div class="product-quantity">
                      <div class="quantity-area">
                        <div class="cart-plus-minus">
                          <input type="text" value="1"/>
                          <span class="decrease-btn qty-btn">-</span>
                          <span class="increase-btn qty-btn">+</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button class="add-to-cart-button" type="submit">Add to cart</button>
                </form>
              </div>
              <div class="quick-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero nulla.
              </div>
              <div class="social-sharing">
                <div class="widget widget_socialsharing_widget">
                  <h3 class="widget-title-modal">Share this product</h3>
                  <ul class="social-icons">
                    <li><a target="_blank" title="Facebook" href="#" class="facebook social-icon"><i class="fa fa-facebook"></i></a></li>
                    <li><a target="_blank" title="Twitter" href="#" class="twitter social-icon"><i class="fa fa-twitter"></i></a></li>
                    <li><a target="_blank" title="Pinterest" href="#" class="pinterest social-icon"><i class="fa fa-pinterest"></i></a></li>
                    <li><a target="_blank" title="Google +" href="#" class="gplus social-icon"><i class="fa fa-google-plus"></i></a></li>
                    <li><a target="_blank" title="LinkedIn" href="#" class="linkedin social-icon"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div><!-- .product-info -->
          </div><!-- .modal-product -->
        </div><!-- .modal-body -->
      </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
  </div>
  <!-- Modal end -->
</div>
<!-- product-quickview end -->

<!-- price-slider JS -->
<script src="js/jquery-price-slider.js"></script>

<!-- venobox JS -->
<script src="js/venobox/venobox.min.js"></script>

<!-- meanmenu JS -->
<script src="js/jquery.meanmenu.js"></script>

<!-- owl.carousel JS -->
<script src="js/owl.carousel.min.js"></script>

<!-- scrollUp JS -->
<script src="js/jquery.scrollUp.min.js"></script>

<!-- nivo slider JS -->
<script src="lib/js/jquery.nivo.slider.js"></script>
<script src="lib/home.js"></script>

<!-- plugins JS -->
<script src="js/plugins.js"></script>

<!-- main JS -->
<script src="js/main.js"></script>
